body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/*#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}*/

.inner-content {
    position: relative;
    flex: 1;
    /*top: 250px;*/
    padding: 1em;
}
